# Virtual environment
venv/
 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
 
# IDE-specific files (VS Code, Visual Studio )
.vscode/
.continue
.continue/prompts
.idea/ # Para IntelliJ/PyCharm (ou PyCharm, no caso)
 
# OS-specific files
.DS_Store # macOS
Thumbs.db # Windows
 
# Other
*.log
*.tmp
*.bak
.env # Variáveis de ambiente
dist/
build/
*.spec
logo_praias.png*.Identifier
